@import url("https://fonts.googleapis.com/css?family=DM+Serif+Display|Karla:400,700");
*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 16px;
  letter-spacing: 0.002em;
  word-spacing: 0.025em;
  line-height: 1.35em;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

html {
  font-family: sans-serif;
  color: #323232;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  min-height: 100vh;
  background: whitesmoke;
  margin: 0;
  padding: 0;
}

small {
  font-size: 0.75rem;
}

p {
  font-size: 1.2rem;
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin-bottom: 2rem;
  margin-top: 0;
}

h1 {
  font-size: 4.6rem;
  line-height: 4.6rem;
}

h2 {
  font-size: 3.6rem;
  line-height: 3.6rem;
}

h3 {
  font-size: 2.8rem;
  line-height: 2.8rem;
}

h4 {
  font-size: 2.4rem;
  line-height: 2.4rem;
}

h5 {
  font-size: 1.8rem;
  line-height: 1.8rem;
}

h6 {
  font-size: 1.4rem;
  line-height: 1.4rem;
}

b,
strong {
  font-weight: bold;
}

a[href],
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: baseline;
}

[hidden] {
  display: none;
}

/* accessibility */
/* Remove all animations and transitions */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  display: grid;
  grid-auto-columns: 1fr;
  color: #2b272f;
  background: white;
}

.container {
  margin: 0 auto;
  justify-self: center;
  width: 100%;
  max-width: 1440px;
}

.button {
  font-family: Karla, sans-serif;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  color: #2d2640;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 26px;
  border: 1px solid #2d2640;
  letter-spacing: 0.07em;
}

.light {
  color: #fafafa;
  border-color: #fafafa;
}

.dark {
  color: #2d2640;
  border-color: #2d2640;
}

.dark:hover {
  background: #2d2640;
  color: #fafafa;
}

.light:hover {
  background: #fafafa;
  color: #2d2640;
}

/****************** Page header ************************/
.page-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 9999;
  text-transform: uppercase;
  padding: 22px 166px 18px;
}

.head__nav {
  color: #837d87;
}

.head__nav_link {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.007em;
  text-decoration: none;
  color: #837d87;
  padding: 8px;
}

.head__nav_link:nth-child(3) {
  padding-right: 30px;
}

.head__nav_link:hover {
  color: #2b272f;
}

/****************** Intro Section ************************/
.intro {
  background: #2d2640;
  width: 100%;
  color: #fff;
  padding: 0 165px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  padding-top: 105px;
  position: relative;
}

.intro::after {
  position: absolute;
  right: 0;
  top: 0;
  content: "";
  display: block;
  background: url("../assets/images/bg-pattern-intro-right-desktop.svg") no-repeat;
  pointer-events: none;
  background-position: right -80px;
  width: 100%;
  height: 100%;
}

.intro::before {
  position: absolute;
  left: 0;
  content: url("../assets/images/bg-pattern-intro-left-desktop.svg");
  pointer-events: none;
  display: block;
  transform: translateY(84%);
}

.intro__heading {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: normal;
  font-size: 74px;
  letter-spacing: -0.03em;
  line-height: 64px;
  margin: 64px 10px 28px 0;
  position: relative;
}

.intro__heading::before {
  content: "";
  position: absolute;
  display: block;
  width: 150px;
  background: #fafafa;
  height: 1px;
  margin-top: -64px;
}

.intro__body {
  font-family: Karla;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.06em;
  line-height: 26px;
  color: #fff;
  margin-bottom: 2.2em;
}

.intro-img {
  margin-top: 105px;
}

.intro-img img {
  margin: -105px 0;
  vertical-align: top;
}

/****************** Features Section ************************/
.features {
  padding: 207px 165px 150px 165px;
}

.features__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 26px;
}

.features__heading {
  font-family: "DM Serif Display";
  font-weight: normal;
  font-size: 74px;
  letter-spacing: -0.027em;
  line-height: 64px;
  color: #2b272f;
  margin-bottom: 98px;
}

.features__heading::before {
  display: block;
  content: "";
  width: 150px;
  background: #b0a4b2;
  height: 1px;
  margin-top: 48px;
  margin-bottom: 63px;
}

.features__card {
  padding: 0;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: #949494;
}

.features__card_heading {
  font-family: "DM Serif Display";
  font-weight: normal;
  font-size: 26px;
  letter-spacing: 0.022em;
  line-height: 26px;
  margin-bottom: 22px;
  color: #262429;
}

.features__card_body {
  font-family: Karla;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.07em;
  line-height: 26px;
  color: #837d87;
}

.features__icon {
  order: -1;
  margin-bottom: 36px;
}

.how-we-work {
  width: 100%;
  background: #2d2640;
  margin-top: 145px;
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 60px;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.how-we-work::after {
  content: url("../assets/images/bg-pattern-how-we-work-desktop.svg");
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  pointer-events: none;
  z-index: 0;
}

.how-we-work_heading {
  font-family: "DM Serif Display", serif;
  font-size: 55px;
  line-height: 55px;
  padding: 70px 128px 70px 78px;
  color: white;
}

.how-we-work .button {
  position: relative;
  z-index: 1;
}

/****************** Footer Section ************************/
.page-footer {
  width: 100%;
  background: #fafafa;
  position: relative;
  color: #837d87;
}

.page-footer::before {
  content: url("../assets/images/bg-pattern-footer-desktop.svg");
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 0;
}

.footer_header {
  padding: 60px 165px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.footer_header::after {
  content: "";
  display: block;
  width: calc(100% - 165px * 2);
  background: #837d87;
  height: 1px;
  position: absolute;
  bottom: 25px;
}

.social__links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  align-items: center;
}

.social-link-icon:hover path {
  fill: #2b272f;
}

.footer_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0 165px 64px;
  text-transform: uppercase;
}

.site-link-header {
  position: relative;
  font-family: Karla;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.06em;
  color: #837d87;
  z-index: 1;
}

.site-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-item-link {
  padding: 4px 0;
}

.site_link {
  color: #2b272f;
  text-decoration: none;
  font-family: Karla;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.06em;
  line-height: 1px;
  text-align: left;
  color: #2b272f;
}

.site_link:hover {
  text-decoration: underline;
}

/****************** Device and Screen size settings ************************/
/* Added for Frontend Mentor attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
