$primary_dark: hsl(256, 26%, 20%);
$primary_light: hsl(216, 30%, 68%);

$accent_dark: hsl(270, 9%, 17%);
$accent_mid: hsl(273, 4%, 51%);
$accent_light: hsl(0, 0%, 98%);


$desktop_width: 1440px;
$mobile_width: 375px;
